<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addBacSi", method = "POST">
        {% csrf_token %}
        ID: <input type="text" name = "BacSi_id"> </br>
        Name: <input type="text" name = "Name"> </br>
        loại Khám: 
        <select name='LoaiKham'>
            {% for i in lk%}
                <option value = {{i.LoaiKham_id}}>{{i.Name}}</option>
            {% endfor%}
        </select> </br>
        Phòng Khám:
        <select name='PhongKham'>
            {% for i in pk%}
                <option value = {{i.PhongKham_id}}>{{i.Name}}</option>
            {% endfor%}
        </select> </br>
        <input type="submit" name ="add" value = "Thêm">
    </form>
</body>
</html>