<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'EditBacSi'%}", method = "POST">
        {% csrf_token %}
        ID: <input type="text", Name = "ID", value = "{{bs.BacSi_id}}", readonly> <br>
        Name: <input type="text", Name = "Name", value = "{{bs.Name}}"> <br>
        Loại khám:  <select name="LoaiKham">
                        {% for i in lk %}
                            {% if bs.LoaiKham_id.LoaiKham_id == i.LoaiKham_id %}
                                <option value="{{i.LoaiKham_id}}" selected>{{i.Name}}</option>
                            {% else %}
                                <option value = "{{i.LoaiKham_id}}">{{i.Name}}</option>
                            {%endif%}
                        {% endfor %}
                    </select> <br>
        Phòng khám: <select name="PhongKham">
                        {% for i in pk %}
                            {% if bs.PhongKham_id.PhongKham_id == i.PhongKham_id %}
                                <option value="{{i.PhongKham_id}}" selected>{{i.Name}}</option>
                            {% else %}
                                <option value = "{{i.PhongKham_id}}">{{i.Name}}</option>
                            {%endif%}
                        {% endfor %}
                    </select> <br>
        <input type="submit" value = "Sửa">
    </form>
</body>
</html>